.efeitoemtodos:hover{
    border: 1px solid rgba(128, 128, 128, 0.356);
    background-color: rgba(128, 128, 128, 0.250);
}

.efeitonox:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

.container {
    width: 19.9rem;
    height: 33.2rem;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.061);
    box-shadow: 0 0 10px grey;
    margin: auto;

}

.titulocalculadora {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-right: 13.8rem;
}






.menuestilo {
    background-color: rgba(128, 128, 128, 0.000);
    border: none;
    font-weight: 900;
    font-size: 13px;
}

.primeira {
    
}

.primeiraestilo{
    background: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:600;
    width: 48px;
    height: 31px;
}

.segunda {  
    word-spacing: -2px;
}

.segundaestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    font-weight:400;
    width: 76px;
    height: 52px;
    padding: 10px;
    font-size: 19px;
}

.terceira {
    word-spacing: -2px;
}

.terceiraestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:400;
    width: 76px;
    height: 52px;
    padding: 10px;
    font-size: 15px;
}

.botaodedivisao {
    
}

.estilobotaodedivisao {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:100;
    width: 76px;
    height: 52px;
    font-size: 33px;
    padding-bottom: 10px;
}

.quarta {
    word-spacing: -2px;
}
.quartaestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:600;
    width: 76px;
    height: 52px;
    padding: 10px;
    font-size: 24px;
}

.botaodemultiplicacao {
    
}

.estilobotaodemultiplicacao {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 76px;
    height: 52px;
    font-size: 17px;
}

.quinta {
    word-spacing: -2px;
}

.quintaestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:600;
    width: 76px;
    height: 52px;
    padding: 10px;
    font-size: 24px;
}

.botaodemenos {
}

.botaodemenosestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:200;
    width: 76px;
    height: 52px;
    font-size: 32px;
}

.sexta{
    word-spacing: -2px;
}

.sextaestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:600;
    width: 76px;
    height: 52px;
    padding: 10px;
    font-size: 24px;
}

.botaodemais {
}

.botaodemaisestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:200;
    width: 76px;
    height: 52px;
    font-size: 32px;
}

.setima {
    word-spacing: -2px;
}

.setimaestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:600;
    width: 76px;
    height: 52px;
    padding: 10px;
    font-size: 24px;
}

.botaodeigual {
}

.botaodeigualestilo {
    background-color: rgba(128, 128, 128, 0.061);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:600;
    width: 76px;
    height: 52px;
    padding: 10px;
    font-size: 24px;
}

.padrao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}

h6 {
    font-weight: 500;
}

.menusuperior {
    word-spacing: -4px;
}

.menusuperiorestilo {
    background: none;
    border: none;
    text-align: center;
    font-weight:100;
    width: 48px;
    height: 31px;
    font-size: 14px;
}

.minimizar {
    background: none;
    border: none;
    font-weight:100;
    width: 48px;
    height: 31px;
    font-size: 12px;
}